{% extends "anonymous/generic.html" %}
{% block title %}Copyright{% endblock %}

{% block generic %}
<!--MAIN CONTENT-->
<div class = "small-9 large-9 columns">
	<div class="row">
		<div class="small-12 large-12 columns">
			<h2>Copyright Notice</h2>

			<p>Content on this website is provided for information
and education purposes only. Information about treatments, therapies, or other
health services does not imply endorsement. Information presented does not
replace advice from your GP or other registered health professional. Content
has been prepared for an Australiaian audience, and whilst this content can be
transferred globally, we recommend you seek local reference to compliment
information provided here. Readers should not that, over time, the relevance of
this information may change. All visitors and users of the site are urged to
seek medical advice froma registered health care professional for diagnosis and
answers to their medical queries.

			For the latest updates and more information, visit the <a href ="http://sydney.edu.au/perkins/">Charles Perkins Institute</a> </p>
		</div>
	</div>	
</div>
{% endblock %}
